/* hacked ul for class="products masonry isotope" to be center-aligned */
#product-list {
    margin-left: 20%;
    margin-right: -15%;   
}

.topnav-right { 
    /* This adjusts the placement of the login button on the navigation bar. */
    margin-left: 420px;
}

#product-page-numbers {
    margin-left: 180px;
    margin-right: -127px;
}

.logo img {
    margin-top: 10px;
}

#catalog-subtitle {

    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    color: #ee3e30;
    font-family: Roboto, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
    margin-left: 20%;
    margin-right: -15%;   
    text-align:center;
    text-transform: uppercase;
    
}

.page-subtitle {
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    color: #ee3e30;
    font-family: Roboto, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
    margin-left: 25%;
    margin-right: 25%;   
    text-align:center;
    text-transform: uppercase;
}

#register-form {
    margin-left: 25%;
    margin-right: 25%;   
}

#register-form input{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#register-form>div>label {
    font-style: italic;
    font-size: 1.3em;
    text-align: center;   
}

#register-form>div>input[type=submit] {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}

.error-diagnostic {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    border: .5px solid #9e3535;
    border-radius: 5px;
    color: #9e3535;
    padding-top: 10px;
    padding-left: 10px;
}

#error-diagnostic-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
    text-decoration: underline;
}


main {
    min-height: 650px;
}

#signupLink { 
    /* note. since anchor is an inline element, i use div to convert it to a block so it takes up maximum viewport width. */
    text-align: center;
    font-size: 1.4em;
}